// Variables
$lightgrey: whitesmoke;
$hovergrey: #eee;

// Basic setup
#shortcuts * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

// #shortcuts is the main wrapper
#shortcuts {
  padding: 6px 0 0 6px;

  // Clearfix to prevent container collapse
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .shortcut {
    float: left;
    position: relative;
    width: 33.33%; // Three links per row
    padding: 0 6px 6px 0; // Must be same as the margin in .content
    max-width: 120px;

    // Hack to set the box height to be the same as the width.
    // http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }

    .content {
      position: absolute;
      display: block;
      margin: 0 6px 6px 0; // Must be same as the padding in .shortcut
      padding: 10px 5px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      box-shadow: 0 1px 1px rgba(black, 0.4);
      background: $lightgrey;
      text-decoration: none;

      // Hover effects
      &:hover {
        background: $hovergrey;

        .pictogram, h2 {
          opacity: .8;
        }

        .pictogram-svg {
          opacity: .95;
        }

        .ribbon {
          background-color: #d9d9d9;
          color: #222;
        }

        .ribbon-grey {
          background-color: #777;
          color: white;
        }

        .ribbon-orange {
          background-color: #cd781c;
          color: white;
        }
      }
    }

    h2 {
      margin: 0;
      opacity: 0.5;

      color: rgba(black, 0.8);
      font-family: sans-serif;
      font-weight: 400;
      font-size: .8em;
      text-align: center;
      text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;
    }

    .pictogram {
      display: block;
      opacity: 0.5;
      padding-left: 0;
      padding-top: 0;


      font-size: 38px;
      font-style: normal;
      text-align: center;
      text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;

      &:before {
        position: relative;
        margin: 0;
        color: rgba(black, 0.8);
        // font-size: 1.1em;
        vertical-align: top;
      }
    }

    .pictogram-svg {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      margin-top: 10px;
      opacity: 0.7;
    }

    // Remove some padding to compensate for
    // titles that span over two lines
    &.roomreservation,
    &.videolectures,
    &.software,
    &.literature {
      a {
        padding-top: 5px;
      }
    }
  }

  // Tweaking of icon size and positions
  .email .envelope    { font-size: 2.6em; margin-top: 5px}
  .schedule .calendar { margin-top: 8px; font-size: 2em;}
  .studentweb .bank   { margin-top: 8px; }
  .roomreservation .fa-clock-o { font-size: 2.4em; margin-top: 4px;}
  .dinner .cutlery    { margin-top: 8px; }
  .map .google_maps   { margin-top: 8px; }
  .farm .fa-cloud     { font-size: 2.5em; margin-top: 10px; }
  .videolectures .film { font-size: 2em; margin-top: 8px;}
  .software .pictogram-svg { margin-top: 7px;}
  .literature .book_open { margin-top: 4px;}

  // Ribbon displayed at bottom of the link box
  .ribbon {
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 10;
    margin-bottom: 5px;
    padding: 1px;

    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: 0.03em;
    color: #444;
    background-color: #e5e5e5;
  }

  .ribbon-grey {
    background-color: #888;
    color: white;
  }

  .ribbon-orange {
    background-color: #e18728;
    color: white;
  }

//   An alternate ribbon that places the ribbon in the corner
  // .corner-ribbon-wrapper {
  //   width: 85px;
  //   height: 88px;
  //   overflow: hidden;
  //   position: absolute;
  //   bottom: 0;
  //   right: 0;
  // }

  // .corner-ribbon {
  //   font: bold 9px sans-serif;
  //   color: white;
  //   text-align: center;
  //   text-shadow: rgba(0,0,0,0.6) 0px 1px 1px;
  //   transform: rotate(-45deg);
  //   position: relative;
  //   padding: 1px 0 1px 0px;
  //   left: 5px;
  //   bottom: -63px;
  //   width: 120px;
  //   background-color: #66a5df;
  //   background-image: linear-gradient(top, #66a5df, #66a5df);
  //   box-shadow: 0 0 2px rgba(0,0,0,0.3);
  //   z-index: 5;
  //   letter-spacing: 0.03em;
  // }
}

.shortcuts-footer {
  color: #666;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.7em;
  margin: 3px 6px;

  a {
    color: #666;
  }
}