// Variables
$lightgrey: whitesmoke;
$hovergrey: #eee;

// Basic setup
#shortcuts * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

// #shortcuts is the main wrapper
#shortcuts {
  padding: 6px 0 0 6px;

  // Clearfix to prevent container collapse
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .shortcut {
    float: left;
    position: relative;
    width: 33.33%; // Three links per row
    padding: 0 6px 6px 0; // Must be same as the margin in .content

    // Hack to set the box height to be the same as the width.
    // http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }

    .content {
      position: absolute;
      display: block;
      overflow: hidden;
      margin: 0 6px 6px 0; // Must be same as the padding in .shortcut
      padding: 10px 5px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      box-shadow: 0 1px 1px rgba(black, 0.4);
      background: $lightgrey;
      text-decoration: none;

      &:hover {
        background: $hovergrey;

        .pictogram, h2 {
          opacity: .8;
        }

        .pictogram-svg {
          opacity: .95;
        }
      }
    }

    h2 {
      margin: 0;
      opacity: 0.5;

      color: rgba(black, 0.8);
      font-family: sans-serif;
      font-weight: 400;
      font-size: .8em;
      text-align: center;
      text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;
    }

    .pictogram {
      display: block;
      opacity: 0.5;
      padding-left: 0;

      font-size: 2.4em;
      font-style: normal;
      text-align: center;
      text-shadow: 1px 4px 6px $lightgrey, 0 0 0 black, 1px 4px 6px $lightgrey;

      &::before {
        position: relative;
        margin: 0;
        color: rgba(black, 0.8);
        font-size: 1.1em;
      }
    }

    .pictogram-svg {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      margin-top: 10px;
      opacity: 0.7;
    }

    .inset-shadow-svg {
      fill: rgba(0, 0, 0, 0.55);
      filter: url(#inset-shadow);
    }

    // Remove some padding to compensate for
    // titles that span over two lines
    &.roomreservation,
    &.videolectures,
    &.software,
    &.literature {
      a {
        padding-top: 5px;
      }
    }
  }

  // Tweaking of icon size and positions
  .email .envelope    { font-size: 2.6em; }
  .schedule .calendar { margin-top: 3px; }
  .studentweb .bank   { margin-top: 5px; }
  .roomreservation .fa-clock-o { font-size: 2.4em; margin-top: 4px;}
  .dinner .cutlery    { margin-top: 5px; }
  .map .google_maps   { margin-top: 5px; }
  .farm .fa-cloud     { font-size: 2.5em; margin-top: 10px; }
  .videolectures .film { font-size: 2em; margin-top: 5px;}
  .software .pictogram-svg { margin-top: 7px;}
}