#shortcuts * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#shortcuts {
  padding: 6px 0 0 6px;
}
#shortcuts:after {
  content: "";
  display: table;
  clear: both;
}
#shortcuts .shortcut {
  float: left;
  position: relative;
  width: 33.33%;
  padding: 0 6px 6px 0;
  max-width: 120px;
}
#shortcuts .shortcut:after {
  content: '';
  display: block;
  margin-top: 100%;
}
#shortcuts .shortcut .content {
  position: absolute;
  display: block;
  margin: 0 6px 6px 0;
  padding: 10px 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: whitesmoke;
  text-decoration: none;
}
#shortcuts .shortcut .content:hover {
  background: #eeeeee;
}
#shortcuts .shortcut .content:hover .pictogram {
  opacity: .8;
}
#shortcuts .shortcut .content:hover h2 {
  opacity: 1;
}
#shortcuts .shortcut .content:hover .pictogram-svg {
  opacity: .95;
}
#shortcuts .shortcut .content:hover .ribbon {
  background-color: #d9d9d9;
  color: #111;
}
#shortcuts .shortcut .content:hover .ribbon-grey {
  background-color: #777;
  color: white;
}
#shortcuts .shortcut .content:hover .ribbon-orange {
  background-color: #cd781c;
  color: white;
}
#shortcuts .shortcut h2 {
  margin: 0;
  opacity: 0.7;
  color: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-weight: 400;
  font-size: .8em;
  text-align: center;
  text-shadow: 1px 4px 6px whitesmoke, 0 0 0 black, 1px 4px 6px whitesmoke;
}
#shortcuts .shortcut .pictogram {
  display: block;
  opacity: 0.5;
  padding-left: 0;
  padding-top: 0;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 4px 6px whitesmoke, 0 0 0 black, 1px 4px 6px whitesmoke;
}
#shortcuts .shortcut .pictogram:before {
  position: relative;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 38px;
  vertical-align: top;
}
#shortcuts .shortcut .pictogram-svg {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0 auto;
  margin-top: 10px;
  opacity: 0.7;
}
#shortcuts .shortcut.roomreservation a, #shortcuts .shortcut.videolectures a, #shortcuts .shortcut.software a, #shortcuts .shortcut.literature a {
  padding-top: 5px;
}
#shortcuts .email .envelope:before {
  font-size: 42px;
  margin-top: 7px;
}
#shortcuts .schedule .calendar:before {
  font-size: 36px;
  margin-top: 6px;
}
#shortcuts .studentweb .bank:before {
  font-size: 38px;
  margin-top: 12px;
}
#shortcuts .roomreservation .fa-clock-o:before {
  font-size: 40px;
}
#shortcuts .roomreservation .fa-clock-o {
  margin-top: 4px;
}
#shortcuts .dinner .cutlery:before {
  margin-top: 11px;
}
#shortcuts .map .google_maps {
  margin-top: 8px;
}
#shortcuts .farm .fa-cloud:before {
  font-size: 44px;
}
#shortcuts .farm .fa-cloud {
  margin-top: 10px;
}
#shortcuts .videolectures .film:before {
  font-size: 34px;
  margin-top: 8px;
}
#shortcuts .software .pictogram-svg {
  margin-top: 5px;
}
#shortcuts .literature .book_open {
  font-size: 42px;
  margin-top: 4px;
}
#shortcuts .svg-fallback {
  display: none;
}
.no-svg #shortcuts .svg-fallback {
  display: block;
  width: 38px;
  height: 38px;
  background-size: 38px;
  margin: 10px auto;
}
#shortcuts .svg-fallback.itslearning {
  background-image: url(../images/shortcut-itslearning.png);
}
#shortcuts .svg-fallback.bartebuss {
  background-image: url(../images/shortcut-bartebuss.png);
}
#shortcuts .svg-fallback.software {
  background-image: url(../images/shortcut-software.png);
}
#shortcuts .ribbon {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 10;
  margin-bottom: 5px;
  padding: 1px;
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  letter-spacing: 0.03em;
  color: #444;
  background-color: #e5e5e5;
}
#shortcuts .ribbon-grey {
  background-color: #888;
  color: white;
}
#shortcuts .ribbon-orange {
  background-color: #e18728;
  color: white;
}

.shortcuts-footer {
  color: #666;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.7em;
  margin: 3px 6px;
}
.shortcuts-footer a {
  color: #666;
}
