#shortcuts * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#shortcuts {
  padding: 6px 0 0 6px;
}
#shortcuts:after {
  content: "";
  display: table;
  clear: both;
}
#shortcuts .shortcut {
  float: left;
  position: relative;
  width: 33.33%;
  padding: 0 6px 6px 0;
}
#shortcuts .shortcut:after {
  content: '';
  display: block;
  margin-top: 100%;
}
#shortcuts .shortcut .content {
  position: absolute;
  display: block;
  overflow: hidden;
  margin: 0 6px 6px 0;
  padding: 10px 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: whitesmoke;
  text-decoration: none;
}
#shortcuts .shortcut .content:hover {
  background: #eeeeee;
}
#shortcuts .shortcut .content:hover .pictogram, #shortcuts .shortcut .content:hover h2 {
  opacity: .8;
}
#shortcuts .shortcut .content:hover .pictogram-svg {
  opacity: .95;
}
#shortcuts .shortcut h2 {
  margin: 0;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-weight: 400;
  font-size: .8em;
  text-align: center;
  text-shadow: 1px 4px 6px whitesmoke, 0 0 0 black, 1px 4px 6px whitesmoke;
}
#shortcuts .shortcut .pictogram {
  display: block;
  opacity: 0.5;
  padding-left: 0;
  font-size: 2.4em;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 4px 6px whitesmoke, 0 0 0 black, 1px 4px 6px whitesmoke;
}
#shortcuts .shortcut .pictogram::before {
  position: relative;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1em;
}
#shortcuts .shortcut .pictogram-svg {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  opacity: 0.7;
}
#shortcuts .shortcut .inset-shadow-svg {
  fill: rgba(0, 0, 0, 0.55);
  -webkit-filter: url(#inset-shadow);
  filter: url(#inset-shadow);
}
#shortcuts .shortcut.roomreservation a, #shortcuts .shortcut.videolectures a, #shortcuts .shortcut.software a, #shortcuts .shortcut.literature a {
  padding-top: 5px;
}
#shortcuts .email .envelope {
  font-size: 2.6em;
}
#shortcuts .schedule .calendar {
  margin-top: 3px;
}
#shortcuts .studentweb .bank {
  margin-top: 5px;
}
#shortcuts .roomreservation .fa-clock-o {
  font-size: 2.4em;
  margin-top: 4px;
}
#shortcuts .dinner .cutlery {
  margin-top: 5px;
}
#shortcuts .map .google_maps {
  margin-top: 5px;
}
#shortcuts .farm .fa-cloud {
  font-size: 2.5em;
  margin-top: 10px;
}
#shortcuts .videolectures .film {
  font-size: 2em;
  margin-top: 5px;
}
#shortcuts .software .pictogram-svg {
  margin-top: 7px;
}
